<p>
  흰담비 씨는 저를 좋아합니까?<br>
  좋아하죠, 당연히.<br>
  그렇다면 제가 당신의 연인이 될 수 없던 이유는 무엇입니까?
</p>

<p>
  그 질문에 여자가 어떤 표정을 지었더라.
</p>

<p>
  기상 시각 사택의 기온은 낮다.
  일반적인 인간 개체의 기준으로도 낮은 편이다.
  여자는 아침에 일어날 때면 늘 이불 밖으로 나오려 하지 않았으므로.
  <em>추워요.</em>
  여자가 잠결에 그런 말을 흘릴 때면 그는 늘 똑같이 답했다.
  아닙니다. 현재 기온은 이십일 도씨로, 흰담비 씨가 취침 전 맞춘 에어컨의 기온입니다.
  그 말에 여자 또한 똑같이 답했다.
  <em>원래 일어날 때면 춥게 느껴지고 이불 덮으면 따뜻한 게 최고인 거예요….</em>
  그로썬 이해되지 않고 논리적이지 않은 소리였다.
</p>

<p>
  다시 생각해보니 일반적이라는 말 또한 논리적이지 않았다.
  그의 사택에서 아침을 맞이한 인간 개체는 한 명 뿐이었으므로.
</p>

<p>
  기름을 두 바퀴 둘러 계란 두 개를 구웠다.
  여자는 늘 기름을 두 바퀴 이상 두른 뒤 뒤집지 않고 오래 구워 바삭바삭해진 반숙을 선호했다.
  여자가 그러했듯 노른자를 터뜨려 밥에 비볐다.
  바삭한 계란 흰자가 입 안에서 부서졌다.
</p>

<p>
  운전대에 힘을 최대한 주지 않았다.
  힘을 조절하기 어려웠다.
  출퇴근 길의 운전은 늘 여자의 몫이었다.
  그가 운전대를 두 번 부러뜨린 뒤 다시 나타난 여자는
  면허를 땄다며 당당하게 운전면허증을 그에게 들이밀었다.
  그 뒤로 그는 한참 운전대를 잡은 적이 없었다.
</p>

<p>
  점심 후 카페에서 구매한 음료는 쿠키쉐이크였다.
  여자가 늘 주문하던 메뉴였다.
  쿠키 조각이 입 안에서 씹히는 게 마음에 든다고 했다.
  음료를 마실 때면 여자의 입이 조금씩 우물거렸다.
  여자는 입이 작은 편이라 음료를 전부 마시는 데에 남들보다 시간이 오래 걸렸다.
  여자가 그러했듯 음료를 입에 머금은 뒤 쿠키 조각을 씹었다.
  알갱이가 잘게 부서졌다.
</p>

<p>
  퇴근 후 디비디 플레이어로 재생할 영화를 고르지 못했다.
  선택은 늘 여자의 몫이었기 때문이다.
  그 스스로도 모르는 기호를 맞추려 애쓰며,
  그러면서도 여자 본인의 취향을 벗어나지 않도록.
  가장 마지막으로 여자와 함께 보았던 영화를 틀었다.
  오늘로 정확히 쉰한 번째의 재생이었다.
</p>

<p>
  주인없는 방의 기온과 에어컨의 설정된 온도를 확인했다.
  여자가 늘 맞춰놓고 취침하던 기온이었다.
  불을 끄려다 말고 방의 책상 한구석에 놓인 짙푸른 손목시계 옆 실팔찌를 집어들었다.
</p>

<p>
  <em>끊어지면 소원이 이루어지는 거예요.</em>
  증명된 사실입니까?
  <em>사실 끊어진 적이 없어서 모르겠어요.</em>
  그렇다면 흰담비 씨가 확신하는 이유는 무엇입니까?
  <em>끊어지면 알게 되지 않을까요? 이루어지는지 아닌지.</em>
</p>

<p>
  그렇게 말했음에도 막상 잘 차고 다니지 않아,
  여자의 팔찌는 조금도 닳지 않은 상태였다.
  그가 늘 방의 청결을 유지했으므로, 먼지 또한 묻지 않았다.
  팔찌 한쪽을 쥐고 반대편에 검지를 걸었다.
  이대로 당기면 끊어질 터다.
  그에겐 조금의 힘도 필요하지 않은 일이었다.
</p>

<p>
  끊어지면 소원이 이루어지는지 알 수 있다고 했나.
</p>

<p>
  그렇다면 어떤 소원을 빌어야 당신이 눈을 뜰까.
</p>
